<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<!--阿里巴巴矢量图-->
		<link rel="stylesheet" href="img/fFont/iconfont.css" />
		<!--商品页面样式-->
		<link rel="stylesheet" href="css/shop.css" />
		<!--地域选择组件样式-->
		<link rel="stylesheet" href="css/city-picker.css" />
		<title>奇豆食品</title>
	</head>
	<!--https://list.tmall.com/search_product.htm?q=%C8%FD%CE%C4%D3%E3&type=p&spm=a220m.1000858.a2227oh.d100&from=.list.pc_1_searchbutton-->
	<body>
		<!--头部固定栏-->
		<header>
			<div class="f_head wrap">
				<!--头部固定栏-->
				<ul class="hd_menu">
					<li>
						<a title="奇豆" href="index.html"   class=""><i><strong>奇豆</strong></i>首页</a>
					</li>
					<li>
						<a title="搜索" href="food.html"  >美食</a>
					</li>
					<li>
						<a title="食材" href="shop.html"  >食材</a>
					</li>
					<li>
						<a title="珍选" href="purchase.html"  >珍选</a>
					</li>
					<li>
						<a title="旅游" href="tourism.html"  >旅游</a>
					</li>
					<li>
						<a title="购票" href=""  >购票</a>
					</li>
					<li>
						<a title="社区" href=""  >社区</a>
					</li>
					<li>
						<a title="菜谱" href=""  >菜谱</a>
					</li>
					<li>
						<a title="话题" href=""  >话题</a>
					</li>
					<li>
						<a title="活动" href=""  >活动</a>
					</li>
					<li>
						<i class="iconfont icon-xialaanniu"></i>
						<!--头部固定栏下拉框-->
						<div class="hd_dropdown">
							<a title="烘焙" href=""  >烘焙</a>
							<a title="妈妈派" href=""  >妈妈派</a>
						</div>
					</li>
				</ul>
				<!--头部固定栏用户注册登录-->
				<div class="hd_login right">
					<a title="" href="" id="zhuce" >注册</a>
					<a title="" href="Thelogin.html" id="userName" >登录</a>
					<a class="lgn_Q" title="" href=""  ><i class="iconfont icon-qq"></i><br />QQ登录</a>
				</div>
			</div>
		</header>
		<!--头部导航-->
		<div class="f_nav wrap">
			<div class="left" style="height: 90px;">
				<img style="width: 128px;" src="img/logo.png" />
			</div>
			<div id="box" class="nav_search">
				<input @keydown.down="down()" @keydown.up.prevent="up()" v-model="msg" @keyup="clickMe($event)" type="text" placeholder="请输入...."/>
				<p class="sch_btn" @click="clickMe()">搜索</p>
				<div class="clearfix"></div>
				<ul id="list" :class="{bor:flag}">
					<li @mouseenter="inS(index)" @mouseout="out()" v-for="(item,index) in arr":class={active:searchIndex==index,newHr:current==index}>
						<a :href="'https://www.baidu.com/s?wd='+item">{{item}}</a>
					</li>
				</ul>
			</div>
			<ul class="sch_ul">
				<li><a href="">三文鱼刺身</a></li>
				<li><a href="">生鱼片</a></li>
				<li><a href="">烟熏三文鱼</a></li>
				<li><a href="">三文鱼头</a></li>
				<li><a href="">三文鱼腩</a></li>
				<li><a href="">冰鲜三文鱼</a></li>
				<li><a href="">三文鱼片</a></li>
			</ul>
			<!--<div class="nav_search">
				<input type="text" />
				<div class="sch_btn">搜索</div>
				<ul class="sch_ul">
					<li><a href="">三文鱼刺身</a></li>
					<li><a href="">生鱼片</a></li>
					<li><a href="">烟熏三文鱼</a></li>
					<li><a href="">三文鱼头</a></li>
					<li><a href="">三文鱼腩</a></li>
					<li><a href="">冰鲜三文鱼</a></li>
					<li><a href="">三文鱼片</a></li>
				</ul>
			</div>-->
		</div>		
		<!--产品选项框-->
		<div class="f_tab wrap">
			<div class="tab_in">
				<div class="tab_1">
					<div class="tab_left">
						<p>品牌</p>
					</div>
					<div class="tab_right">
						<ul>
							<li><a href="">鲜有汇聚</a></li>
							<li><a href="">怡鲜来</a></li>
							<li><a href="">肴易食</a></li>
							<li><a href="">ICEFRESH°</a></li>
							<li><a href="">易果生鲜</a></li>
							<li><a href="">崇鲜</a></li>
							<li><a href="">satefun/三顿饭</a></li>
							<li><a href="">Blue Snow/蓝雪</a></li>
						</ul>
					</div>
				</div>
				<div class="tab_2">
					<div class="tab_hide">
						<div class="tab_left">
							<p><i class="iconfont icon-right-arrow-copy"></i>生鲜水果</p>
						</div>
						<div class="tab_right">
							<ul>
								<li><a href="">水果</a></li>
								<li><a href="">海鲜</a></li>
								<li><a href="">金枪鱼</a></li>
								<li><a href="">鳗鱼</a></li>
								<li><a href="">秋刀鱼</a></li>
							</ul>
						</div>
					</div>
					<div class="tab_hide">
						<div class="tab_left">
							<p><i class="iconfont icon-right-arrow-copy"></i>其它分类</p>
						</div>
						<div class="tab_right">
							<ul>
								<li><a href="">海鲜水产</a></li>
								<li><a href="">进口生鲜肉类</a></li>
							</ul>
						</div>
					</div>
					<div class="tab_hide">
						<div class="tab_left">
							<p>产地</p>
						</div>
						<div class="tab_right">
							<ul>
								<li><a href="">中国大陆</a></li>
								<li><a href="">智利</a></li>
								<li><a href="">丹麦</a></li>
								<li><a href="">挪威</a></li>
								<li><a href="">新西兰</a></li>
							</ul>
						</div>
					</div>
				</div>
				<div class="tab_3">
					<div class="border_line"></div>
					<div class="border_btn">更多选项<i class="iconfont icon-xialaanniu"></i></div>
				</div>
			</div>
		</div>
		<!--筛选框-->
		<div class="f_screen wrap">
			<ul class="scn_order">
				<li class="on"><a href="">综合</a><i class="iconfont icon-f111"></i></li>
				<li><a href="">人气</a><i class="iconfont icon-f111"></i></li>
				<li><a href="">新品</a><i class="iconfont icon-f111"></i></li>
				<li><a href="">销量</a><i class="iconfont icon-f111"></i></li>
				<li><a href="">价格</a><i class="iconfont icon-shangxiajiantou"></i></li>
			</ul>
			<div class="scn_address">
				<div class="ads_left"><p>收货地:</p></div>
				<div class="ads_right">
					<div style="position: relative;">
			            <!-- container -->
			            <input readonly type="text" data-toggle="city-picker" placeholder="深圳">
			            <!--<i class="iconfont icon-youxiajiaoyincangzhankai"></i>-->
			        </div>
				</div>
			</div>
			<div class="scn_scope">
				<input type="text" placeholder="￥最低金额"/>
				<p>-</p>
				<input type="text" placeholder="￥最高金额"/>
			</div>
			<div class="scn_choice">
				<label>
					<input type="checkbox" />包邮	
				</label>
				<label>
					<input type="checkbox" />折扣
				</label>
				<label>
					<input type="checkbox" />搭配减价
				</label>
			</div>
			<div class="scn_page">
				<label>1/100</label>
				<div class="page_left on"><i class="iconfont icon-left-arrow"></i></div>
				<div class="page_right"><i class="iconfont icon-right-arrow-copy"></i></div>
			</div>
		</div>
		<!--内容框-->
		<div class="f_content wrap clearfix">
			<ul>
				<li>
					<div class="cnt_g">
						<div class="cnt_goods gdb" onclick="window.location.href= 'purchase.html';">
							<div class="gd_pic">
								<img src="img/shop/nr/nr1.jpg" />
								<p id="blink">特价优惠+免邮！</p>
							</div>
							<div class="gd_nr">
								<h3>￥178.00</h3>
								<p><a href="">【蓝雪】ASC智利进口三文鱼柳 中段冷冻海鲜水产400g/包共2包</a></p>
								<span>蓝雪食品旗舰店</span>
							</div>
						</div>
						<div class="gd_foot">
							<span>月成交34笔</span>
							<span>评价&nbsp;113</span>
							<span class="foot_call"><i class="iconfont icon-aliwangwang"></i></span>
						</div>
					</div>
				</li>
				<li></li>
				<li></li>
				<li></li>
			</ul>
		</div>
		<!--底部-->
		<footer>
			<div class="f_bottom clearfix">
				<ul>
					<li><i class="iconfont icon-you"></i><p>品质保障</p><span>品质护航，购物无忧</span></li>
					<li><i class="iconfont icon-tui"></i><p>七天无理由退货</p><span>为您提供售后无忧保障</span></li>
					<li><i class="iconfont icon-tese"></i><p>特色服务体验</p><span>为您呈现不一样的服务</span></li>
					<li><i class="iconfont icon-zhinan"></i><p>帮助中心</p><span>您的购物指南</span></li>
				</ul>
			</div>
			<div class="f_bottom2 wrap clearfix">
				<ul>
					<li>
						<h4>购物指南</h4>
						<p><a href="">免费注册</a></p>
						<p><a href="">开通支付宝</a></p>
						<p><a href="">支付宝充值</a></p>
					</li>
					<li>
						<h4>天猫保障</h4>
						<p><a href="">发票保障</a></p>
						<p><a href="">售后规则</a></p>
						<p><a href="">缺货赔付</a></p>
					</li>
					<li>
						<h4>支付方式</h4>
						<p><a href="">快捷支付</a></p>
						<p><a href="">信用卡</a></p>
						<p><a href="">余额宝</a></p>
						<p><a href="">蚂蚁花呗</a></p>
						<p><a href="">货到付款</a></p>
					</li>
					<li>
						<h4>商家服务</h4>
						<p><a href="">天猫规则</a></p>
						<p><a href="">商家入驻</a></p>
						<p><a href="">商家中心</a></p>
						<p><a href="">运营服务</a></p>
						<p><a href="">物流服务</a></p>
						<p><a href="">天猫智库</a></p>
					</li>
					<li>
						<h4>手机扫码</h4>
						<p><img src="img/shop/twoWM.png"></p>
					</li>
				</ul>
			</div>
		</footer>
		<!--右侧购物车固定栏-->
		<div class="f_cartR">
			<p><a href=""><i class="iconfont icon-gouwuche"></i><br />购物车</a></p>
			<div class="c_money"></label><i class="iconfont icon-money"></i></div>
			<div class="c_collection"><i class="iconfont icon-shoucang"></i></div>
			<div class="c_see"><i class="iconfont icon-time"></i></div>
			<span class="ct_btm">
				<div class="c_feedback"><i class="iconfont icon-yonghufankui03"></i></div>
				<div class="c_pic"><i class="iconfont icon-erweima"></i></div>
				<div class="rightMenu"><i class="iconfont icon-TOP"></i></div>	
			</span>
		</div>
		<!-- 固定栏提示 -->
		<div class="my_money">
		    <div class="rectangle">我的资产</div>
		</div>
		<div class="my_collection">
		    <div class="rectangle">我的收藏</div>
		</div>
		<div class="my_see">
		    <div class="rectangle">我看过的</div>
		</div>
		<div class="my_feedback">
		    <div class="rectangle">用户反馈</div>
		</div>
		<div class="my_pic">
		    <img class="pic_re" src="img/shop/twoWM.png">
		</div>
		<div class="my_top">
		    <div class="rectangle">返回顶部</div>
		</div>
		
		<!--jquery-->
		<script type="text/javascript" src="lib/jquery-3.3.1.min.js" ></script>
		<!--商品-->
		<script type="text/javascript" src="js/shop.js" ></script>
		<!--商品数据-->
		<script type="text/javascript" src="js/data.js" ></script>
		<!--地域数据-->
		<script type="text/javascript" src="lib/city-picker.data.js" ></script>
		<!--地域组件-->
		<script type="text/javascript" src="lib/city-picker.js" ></script>
		<!--对百度关键词库跨域-->
		<script type="text/javascript" src="lib/vue.js" ></script>
		<script type="text/javascript" src="lib/vue-resource.js"></script>
		<!--搜索框-->
		<script type="text/javascript" src="js/search.js" ></script>
	</body>
</html>